*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.container{
    width:100%;
    height:100vh;
    background: #0b0423;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#left,#right{
    width: 300px;
    min-height: 400px;
    margin: 20px;
    border: 2px dashed #fff;
}
.lists{
    background: #e91e63;
    display: flex;
    align-items: center;
    height: 60px;
    margin: 30px;
    color: #fff;
    cursor: grab;
}
.lists img{
    width:10px;
    margin-right: 15px;
    margin-left: 20px;
}